.nav-bg {
  background-color: #0B2027;
}

.header-container {
  position: relative;
  background-image: linear-gradient(305deg,
      hsl(195deg 56% 10%) 0%,
      hsl(201deg 1% 71%) 77%,
      hsl(0deg 0% 100%) 100%);

  height: 100vh;

}


.header-text-container {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;


  top: 50%;
  bottom: 50%;
  left: 0%;
  right: 0%;
  transform: translate(-0%, -5%);


}



.text-hd-title {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;


  height: 100vh;
  width: 90rem;


}

.bg-image {
  position: relative;
  background-image: url(./Components/Header/image-lines.png);
  background-size: cover;
  background-position: center;

  height: 100vh;

}

.button-download {

  background-color: #C952E1;
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}



.text-color-light {
  color: #fff;
}

.body-bg {
  background-color: #0B2027;
}

.line-img {

  background-image: url(./assests/route-line.png);
  background-size: cover;
  height: 90vi;
}

.about-container {
  position: relative;
}

.about-text-container {
  position: absolute;


  top: 50%;
  left: 55%;
  right: 0%;

}

.text-size-xl {
  font-size: 5.5rem;
  color: #fff;
}

.text-size-lg {
  font-size: 4rem;
}

.text-size-md {
  font-size: 1.5rem;
}

.text-size-sm{
  font-size: 1rem;
}


.icon-size {
  height: 2.4rem;
  width: 2.4rem;
}

.btn-actions {

  display: flex;
  flex-direction: row;

  background-color: #C952E1;



  padding: 0.6rem;
  color: white;
  border-radius: 1rem;

  border: #C952E1;

  font-size: 1.8rem;

}

.download-section {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;

}